* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: burlywood;
    font-family: sans-serif;
}

#logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    gap: 50px;
}
h1 {
    font-size:5vh;
}

button {
    font-size: large;
    background-color: transparent;
    width: 200px;
    height: 70px;
    border: 1,solid, black;
}
button:hover {
    cursor: pointer;
    box-shadow: 2px 2px inset;
    background-color: aliceblue;
    transition: 0.4s;
}

#content {
    margin: auto;
    padding: 4vh;
    font-size: 1.2rem;
    max-width: 700px;
    margin-top: 20px;
}